<<<<<<< HEAD
/*Aula 1*/
p {
    color: #FF7F50;
    font-size: 60px;
    font-family: 'Impact', Times, Arial;
}

body {
    background-color: #000;
}

/*Aula 2*/
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    height: 100px;
}

/*Aula 3*/
#div_esquerda {
    background-color: red;
    min-height: 200px ;
    width: 60%;
    float: left;
}

#div_direita {
    background-color: yellow;
    min-height: 200px;
    width: 40%;
    float: right;
}

footer {
    clear: both;
    background-color: blue;
    height: 50px;
=======
/*Aula 1*/
p {
    color: #FF7F50;
    font-size: 60px;
    font-family: 'Impact', Times, Arial;
}

body {
    background-color: #000;
}

/*Aula 2*/
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    height: 100px;
}

/*Aula 3*/
#div_esquerda {
    background-color: red;
    min-height: 200px ;
    width: 60%;
    float: left;
}

#div_direita {
    background-color: yellow;
    min-height: 200px;
    width: 40%;
    float: right;
}

footer {
    clear: both;
    background-color: blue;
    height: 50px;
>>>>>>> f0d1db1a6371777ea2198dbb4a3b2831808fc0b9
}