/* TAGS */
p {
    color: #06e2e2;
    font-size: 15px;
    font-family: asdf, arial, "Times new roman";
    text-shadow: 1px 1px 1px black;

}

body {
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: Impact, Arial;
}

header {
    background-color: rgb(20, 124, 128);
    height: 80px;
    padding: 20px;
}

footer {
    clear: both;
    background-color: rgb(20, 124, 128);
    height: 50px;
    text-align: center;
    padding: 10px;
    font-family: 'Impact';
    text-shadow: 1px 1px 1px black;
    color: azure;
    font-size: 20px;

}

h1 {
    color: rgb(143, 236, 125);
    font-family: Times, Arial;
    text-align: center;
    margin: 0 0 50px 0;
    text-shadow: 1px 1px 1px black;
}

/* IDS */
#principal {
    clear: both;
    background-image: url('cidade.jpg');
	background-size: 100%;
	min-height: 400px;
	padding:80px 0 0 0;
}

#logo {
    float: left;
}

#menu {
    float: right;
    margin-top: 30px;

}

#menu a {
    padding: 50px, 20px;
    text-decoration: none;
    color: wheat;
    text-shadow: 1px 1px 1px black;

}

#menu a:hover {
    background-color: #000;
    color:  rgb(20, 124, 128);;

}

/* CLASS */
.container {
    width: 960px;
    margin: 0 auto;
}

.efeito {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px, 0, 80px, 0;
}