/* TAGS */
p {
    color: #FF7F50;
    font-size: 15px;
    font-family: Arial, 'Times New Roman';
    text-align: center;
}

body {
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: Impact, Arial;
}

header {
    background-color: rgb(20, 124, 128);
    height: 80px;
    padding: 20px;
}

footer {
    clear: both;
    background-color: rgb(20, 124, 128);
    height: 50px;
    text-align: center;
    padding: 10px;
    font-family: 'Impact',
    
    
}

h1 {
    color: rgb(143, 236, 125);
    font-family: Times, Arial;
    text-align: center;
    margin: 0 0 50px 0;
}

/* IDS */
#principal {
    background-image: url('cidade.jpg');
	background-size: 100%;
	min-height: 400px;
	padding:80px 0 0 0;
}

/* CLASS */
.container {
    width: 960px;
    margin: 0 auto;
    background-color: #FF7F50;
}